div {
  background-color: slateblue
}
span {
 background-color: orange;
}
p {
  font-family: "Courier new", fixed width, fixedwidth;
}
ul{
  font-family: "Courier new", fixed width, fixedwidth;
}
                  
}
tr   background-color: gold;
}



